<template>
  <div
    id="mainForm:datascrollHorizontal_paginator_bottom"
    class="ui-paginator ui-paginator-bottom ui-widget-header ui-corner-bottom"
    role="navigation"
    aria-label="Pagination"
  >
    <!-- <a
      class="ui-paginator-first ui-state-default ui-corner-all ui-state-disabled"
      aria-label="First Page"
      tabindex="-1"
      ><span class="ui-icon ui-icon-seek-first">F</span></a
    > -->
    <a
      @click="returnPage"
      class="ui-paginator-prev ui-state-default ui-corner-all"
      aria-label="Previous Page"
      tabindex="-1"
      ><span class="ui-icon ui-icon-seek-prev">P</span></a
    ><span class="ui-paginator-pages">
      <a
        class="ui-paginator-page ui-state-default ui-state-active ui-corner-all"
        tabindex="0"
        aria-label="Page 1"
        aria-current="page"
        >{{ actualPage }}</a
      >
      <!-- <a
        class="ui-paginator-page ui-state-default ui-corner-all"
        tabindex="0"
        href="#"
        aria-label="Page 2"
        >2</a
      > -->
    </span>
    <a
      @click="nextPage"
      class="ui-paginator-next ui-state-default ui-corner-all"
      aria-label="Next Page"
      tabindex="0"
      ><span class="ui-icon ui-icon-seek-next">N</span></a
    >
    <!-- <a
      class="ui-paginator-last ui-state-default ui-corner-all"
      aria-label="Last Page"
      tabindex="0"
      ><span class="ui-icon ui-icon-seek-end">E</span></a
    > -->
    <div class="clr--brand paginator-num-hotels pt-5">{{ total }} total</div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: [
    "actualPage",
    "totalPage",
    "total",
    "limit",
    "country",
    "city",
    "checkIn",
    "checkOut",
    "token",
  ],
  methods: {
    nextPage() {
      // console.log(this.country, this.city, this.checkOut, this.checkIn);

      this.$router.push(
        `/resortlist?country=${this.country}&city=${this.city}&checkIn=${
          this.checkIn
        }
        &checkOut=${this.checkOut}&page=${
          parseInt(this.actualPage) + 1
        }&limit=${this.limit}&token=${this.token}`
      );
      this.$router.go(0);
    },
    returnPage() {
      // console.log(this.country, this.city, this.checkOut, this.checkIn);

      this.$router.push(
        `/resortlist?country=${this.country}&city=${this.city}&checkIn=${
          this.checkIn
        }
        &checkOut=${this.checkOut}&page=${
          parseInt(this.actualPage) - 1
        }&limit=${this.limit}&token=${this.token}`
      );
      this.$router.go(0);
    },
  },
};
</script>
