<template>
  <div
    id="col-left"
    class="o-layout__item u-display--block u-display--inline-block@md u-12/12 u-3/12@md col-left--box"
  >
    <form
      id="j_id_69"
      name="j_id_69"
      method="post"
      action="/accommodation/onlyAccommodationAvail.xhtml?tripId=2&amp;availPosition=1"
      onkeypress="return event.keyCode !== 13;"
      enctype="application/x-www-form-urlencoded"
      data-partialsubmit="true"
    >
      <div
        id="j_id_69:comp-summary"
        class="ongoing hidden-print comp-summary only-hotel"
      >
        <nav
          class="float-breadcrumb navbar o-position o-position--above o-position--fixed o-position--top u-1/1"
          role="navigation"
          id="navegacion"
          style="z-index: 1001; display: none"
        >
          <header class="nav-brochure">
            <div
              id="j_id_69:j_id_6b:breadcrumbs-availability"
              class="wrapperNavbar breadcrumbs-availability"
            ></div>
          </header>
        </nav>
        <div
          class="c-fast-confirm mb-10 u-display--none u-display--block@md true"
        >
          <div class="c-fast-confirm__hero c-fast-confirm__hero--destination">
            <div class="c-fast-confirm__hero__wrapper-img">
              <img
                data-src="https://cdn5.travelconline.com/unsafe/fit-in/0x200/filters:quality(75):format(webp)/https%3A%2F%2Ftr2storage.blob.core.windows.net%2Fimagenes%2Fnorthamerica%2Fflorida%2Ffloridakeys%2Fthumbnail.jpg"
                src="https://cdn5.travelconline.com/unsafe/fit-in/0x200/filters:quality(75):format(webp)/https%3A%2F%2Ftr2storage.blob.core.windows.net%2Fimagenes%2Fnorthamerica%2Fflorida%2Ffloridakeys%2Fthumbnail.jpg"
                data-index=""
                data-error-src="https://booking.vacancyrewards.com/javax.faces.resource/images/no-photo-XS.jpg"
                onerror="this.setAttribute('data-original-url', this.src); var errorUrl = this.getAttribute('data-error-src'); if(this.src !== errorUrl) {this.src = errorUrl};"
                loading="lazy"
                alt="Florida Keys FL"
                width=""
                height=""
                onclick=""
                style=""
                class="lazy-img c-fast-confirm__hero__img loaded"
                data-ll-status="loaded"
              />
            </div>
            <div class="c-fast-confirm__hero__body u-text-align--center">
              <span>Accommodation in</span>
              <b
                class="u-display--block u-font-size--big c-fast-confirm__hero__title"
              >
                {{ city }}, {{ country }}
              </b>
            </div>
          </div>
        </div>
        <div class="c-travel-details u-display--none u-display--block@md">
          <div
            class="c-travel-details__container u-display--flex@sm u-display--block@md u-gap--small"
          >
            <!-- <div
              class="c-travel-details__item c-travel-detail c-travel-details__item--people o-layout__item u-1/2@sm u-1/1@md"
            >
              <div class="c-travel-detail__icon">
                <i class="fa-regular fa-users"></i>
              </div>
              <div class="c-travel-detail__content">2 Adults</div>
            </div> -->

            <div
              class="c-travel-details__item c-travel-detail c-travel-details__item--dates o-layout__item u-1/2@sm u-1/1@md"
            >
              <div class="c-travel-detail__icon">
                <i class="fa-regular fa-calendar-lines"></i>
              </div>
              <div
                class="c-travel-detail__content trip-departure-arrival-dates"
              >
                {{ checkIn }} - {{ checkOut }}
              </div>
            </div>

            <!-- Filtros -->
            <div class="c-sb-input__addicon c-sb-input__addicon--drop">
              <select
                size="1"
                class="c-sb-input__field dev-select-country"
                @change="filterType"
                v-model="type"
              >
                <option :value="null">{{ $func.parseIso("weekType") }}</option>
                <option value="all">{{ $func.parseIso("all") }}</option>
                <option value="Last Minute Week">Last Minute Week</option>
                <option value="Smart Week">Smart Week</option>
                <option value="VIP Week">VIP Week</option>
              </select>
              <i class="c-sb-input__icon fa-light fa-map-marker-alt"></i>
            </div>

            <!-- Fin Filtros -->

            <!-- <div
              class="c-travel-details__item c-travel-detail c-travel-details__item--nights u-display--none u-display--flex@md"
            >
              <div class="c-travel-detail__icon">
                <i class="fa-regular fa-moon"></i>
              </div>
              <div class="c-travel-detail__content">
                7 Nights
                <span class="trip-nights"> 7 </span>
              </div>
            </div> -->
          </div>
          <!-- <a
            data-target="#composeModal"
            data-toggle="modal"
            id="openComposeModalButton"
            href="#"
            class="c-travel-details__item c-button c-button--block c-button--solid--default c-travel-details__button edit-trip-button"
          >
            Change your trip
          </a> -->
        </div>
        <div
          id="c-hidden-aside__bg"
          class="c-hidden-aside__bg"
          onclick="closeHiddenAside()"
        ></div>
        <div
          id="c-hidden-aside"
          class="c-hidden-aside c-hidden-aside@md modifier pt-0"
        >
          <div
            class="c-sticky-header u-zindex--128 u-display--none@md o-block__item o-position--top o-position--sticky"
          >
            <div class="o-flexbox o-flexbox--generic-row">
              <div
                class="o-flexbox o-flexbox--generic-row u-align-items--center"
              >
                <a
                  onclick="closeHiddenAside()"
                  class="c-sticky-header__button ux-close-filters"
                  ><i class="fa-regular fa-arrow-left"></i
                ></a>
                <div class="u-line-height--1 u-ellipsis-inline">
                  <b> Filter and Sort</b>
                </div>
              </div>
            </div>
          </div>
          <div class="o-block c-hidden-aside__scroller">
            <div
              id="j_id_69:j_id_6b:j_id_us:side-summary-aside"
              class="side-summary-aside o-block__item"
            >
              <ul
                class="u-font-size--small o-flexbox o-flexbox--generic-row nav nav-tabs mb-20 u-display--none@md"
                role="tablist"
              >
                <li role="presentation" class="u-flex--11 active">
                  <a
                    class="o-group--tiny c-tab-button"
                    id="button-tab-filters"
                    href="#tab-filters"
                    aria-controls="tab-filters"
                    role="tab"
                    data-toggle="tab"
                    ><i class="fa-regular fa-sliders-h"></i
                    ><span>Filters</span></a
                  >
                </li>
                <li role="presentation" class="u-flex--11 u-display--none@md">
                  <a
                    class="o-group--tiny c-tab-button button-tab-sort"
                    id="button-tab-sort"
                    href="#tab-sort"
                    aria-controls="tab-sort"
                    role="tab"
                    data-toggle="tab"
                    ><i class="fa-regular fa-sort-amount-down"></i
                    ><span>Sort</span></a
                  >
                </li>
              </ul>
              <div class="tab-content mb-20">
                <div class="tab-pane active" role="tabpanel" id="tab-filters">
                  <div
                    id="j_id_69:j_id_6b:j_id_us:side-filters"
                    class="side-filters"
                  >
                    <div class="">
                      <div class="o-block">
                        <div class="o-block__item o-block o-block--middle">
                          <div class="o-block o-block--small o-block__item">
                            <!-- <div class="o-block__item">
                              <div class="c-icon-escort">
                                <input
                                  id="j_id_69:j_id_6b:j_id_us:j_id_1c2:nameFilter"
                                  name="j_id_69:j_id_6b:j_id_us:j_id_1c2:nameFilter"
                                  value=""
                                  onkeyup="$(this).toggleClass('active', $(this).val() != '');travelc.filter();"
                                  class="c-text-input c-icon-escort__main nameFilter"
                                  autocomplete="off"
                                  placeholder="Property name"
                                  type="text"
                                />
                                <i
                                  class="c-icon-escort__icon fa-regular fa-search"
                                ></i>
                              </div>
                            </div> -->
                          </div>
                          <div class="o-block__item o-block o-block--middle">
                            <div class="o-block o-block--small o-block__item">
                              <!-- <div class="o-block__item">
                                <div class="c-icon-escort">
                                  <span
                                    id="j_id_69:j_id_6b:j_id_us:j_id_1c2:addressFilter"
                                    class="ui-autocomplete"
                                    ><input
                                      id="j_id_69:j_id_6b:j_id_us:j_id_1c2:addressFilter_input"
                                      name="j_id_69:j_id_6b:j_id_us:j_id_1c2:addressFilter_input"
                                      type="text"
                                      class="ui-autocomplete-input ui-inputfield ui-widget ui-state-default ui-corner-all c-text-input c-icon-escort__main autocomplete addressFilter"
                                      autocomplete="off"
                                      role="combobox"
                                      aria-controls="j_id_69:j_id_6b:j_id_us:j_id_1c2:addressFilter_panel"
                                      aria-expanded="false"
                                      aria-haspopup="listbox"
                                      placeholder="Search by address, zip code..."
                                      aria-autocomplete="list"
                                      autocorrect="off"
                                      spellcheck="false" /><input
                                      id="j_id_69:j_id_6b:j_id_us:j_id_1c2:addressFilter_hinput"
                                      name="j_id_69:j_id_6b:j_id_us:j_id_1c2:addressFilter_hinput"
                                      type="hidden"
                                      autocomplete="off" /><span
                                      role="status"
                                      aria-live="polite"
                                      class="ui-autocomplete-status ui-helper-hidden-accessible"
                                    ></span
                                  ></span>
                                  <i
                                    class="c-icon-escort__icon fa-regular fa-location-dot"
                                  ></i>
                                </div>
                              </div> -->
                              <!-- <div class="o-block__item">
                                <div class="">
                                  <div class="u-1/1">
                                    <div class="c-icon-escort">
                                      <select
                                        id="j_id_69:j_id_6b:j_id_us:j_id_1c2:radioFilter"
                                        name="j_id_69:j_id_6b:j_id_us:j_id_1c2:radioFilter"
                                        size="1"
                                        class="c-text-input c-icon-escort__main radioFilter"
                                      >
                                        <option
                                          value=""
                                          selected="selected"
                                          disabled="disabled"
                                        >
                                          Filter by radius
                                        </option>
                                        <option value="0.25">0,25 km</option>
                                        <option value="0.5">0,5 km</option>
                                        <option value="1.0">1.0 km</option>
                                        <option value="2.0">2.0 km</option>
                                        <option value="3.0">3.0 km</option>
                                        <option value="4.0">4.0 km</option>
                                        <option value="5.0">5.0 km</option>
                                        <option value="10.0">10.0 km</option>
                                        <option value="15.0">15.0 km</option>
                                      </select>
                                      <i
                                        class="c-icon-escort__icon fa-regular fa-chevron-down"
                                      ></i>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                            </div>
                          </div>
                          <div
                            id="j_id_69:j_id_6b:j_id_us:j_id_1c2:holidayPackagePreferredAccomodationsFiltersPanel"
                            class="o-block__item"
                          ></div>
                          <div
                            id="j_id_69:j_id_6b:j_id_us:j_id_1c2:popularFiltersPanel"
                            class="dev-popular-filters o-block__item"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  role="tabpanel"
                  id="tab-sort"
                  class="tab-pane u-display--none@md"
                >
                  <div
                    id="j_id_69:j_id_6b:j_id_us:aside-sort"
                    class="sort-selector o-block o-block--small u-line-height--1"
                  >
                    <div class="" aria-labelledby="sortHotelsButton">
                      <div class="o-block o-block--small">
                        <div class="o-block__item">
                          <a
                            id="j_id_69:j_id_6b:j_id_us:j_id_2h6:sortByTravelc"
                            href="#"
                            class="ui-commandlink ui-widget u-display--block o-box--tiny--vertical u-padding--null@sm"
                            aria-label=""
                          >
                            <span class="u-font-weight--bold">
                              Our selection
                            </span></a
                          >
                        </div>
                        <div class="o-block__item">
                          <a
                            id="j_id_69:j_id_6b:j_id_us:j_id_2h6:sortByPopularity"
                            href="#"
                            class="ui-commandlink ui-widget u-display--block o-box--tiny--vertical u-padding--null@sm sortByPopularity"
                            aria-label=""
                          >
                            <span class=""> Most popular </span></a
                          >
                        </div>
                        <div class="o-block__item">
                          <a
                            id="j_id_69:j_id_6b:j_id_us:j_id_2h6:sortByDistance"
                            href="#"
                            class="ui-commandlink ui-widget u-display--block o-box--tiny--vertical u-padding--null@sm sortByDistance"
                            aria-label=""
                          >
                            <span class=""> Distance to center </span></a
                          >
                        </div>
                        <div class="o-block__item">
                          <a
                            id="j_id_69:j_id_6b:j_id_us:j_id_2h6:sortByPrice"
                            href="#"
                            class="ui-commandlink ui-widget u-display--block o-box--tiny--vertical u-padding--null@sm"
                            aria-label=""
                          >
                            <span class=""> Price (lowest first) </span></a
                          >
                        </div>
                        <div class="o-block__item">
                          <a
                            id="j_id_69:j_id_6b:j_id_us:j_id_2h6:j_id_2hn"
                            href="#"
                            class="ui-commandlink ui-widget u-display--block o-box--tiny--vertical u-padding--null@sm"
                            aria-label=""
                          >
                            <span class=""> Stars (lowest first) </span></a
                          >
                        </div>
                        <div class="o-block__item">
                          <a
                            id="j_id_69:j_id_6b:j_id_us:j_id_2h6:j_id_2hq"
                            href="#"
                            class="ui-commandlink ui-widget u-display--block o-box--tiny--vertical u-padding--null@sm"
                            aria-label=""
                          >
                            <span class=""> Stars (highest first) </span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-display--none@md">
            <div class="o-box--small bg-clr--white">
              <a
                href="#"
                class="c-button c-button--solid--default bg-clr--brand u-1/1"
                onclick="closeHiddenAside()"
                ><span>Apply</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: ["country", "city", "checkOut", "checkIn", "token"],
  data() {
    return {
      type: null,
    };
  },
  methods: {
    filterType() {
      this.$router.push(
        `/resortlist?country=${this.country}&city=${this.city}&checkIn=${this.checkIn}
        &checkOut=${this.checkOut}&page=1&limit=10&token=${this.token}&type=${this.type}`
      );
      this.$router.go(0);
    },
  },
};
</script>
