<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
  <!-- <title>
    <%= htmlWebpackPlugin.options.title %>
  </title> -->
  <link type="text/css" rel="stylesheet"
    href="https://booking.vacancyrewards.com/javax.faces.resource/primeicons/primeicons.css?ln=primefaces&amp;v=13.0.7" />
  <!-- href="./css/primeicons.css" /> -->

  <!-- <meta property="og:type" content="website" />
  <meta property="og:title" content="Vacancy Rewards" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="Vacancy Rewards" />
  <meta property="og:url" content="https://booking.vacancyrewards.com/en/" /> -->

  <!-- <meta property="og:image"
    content="https://cdn5.travelconline.com/unsafe/700x700/filters:quality(75):max_bytes(307200)/https%3A%2F%2Ftr2storage.blob.core.windows.net%2Fheaderimages%2FKKpWMh6nbm8cZWKdwC-mnganO8FhABV0Ry.jpeg" />
  <meta property="og:image:width" content="700" />
  <meta property="og:image:height" content="700" />
  <meta property="og:image"
    content="https://cdn5.travelconline.com/unsafe/400x400/filters:quality(75):max_bytes(286720)/https%3A%2F%2Ftr2storage.blob.core.windows.net%2Fheaderimages%2FKKpWMh6nbm8cZWKdwC-mnganO8FhABV0Ry.jpeg" />
  <meta property="fb:app_id" content="" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Vacancy Rewards" />
  <meta name="twitter:image"
    content="https://cdn5.travelconline.com/unsafe/700x700/filters:quality(75):max_bytes(307200)/https%3A%2F%2Ftr2storage.blob.core.windows.net%2Fheaderimages%2FKKpWMh6nbm8cZWKdwC-mnganO8FhABV0Ry.jpeg" />
  <meta name="twitter:description" content="" /> -->

  <!-- <link href="./css/fontawesome-pro.css"  -->
  <link href="https://booking.vacancyrewards.com/javax.faces.resource/fontawesome-pro/css/all.min.css"
    rel="stylesheet" />

  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8" />
  

  <!-- <link rel="icon" href="https://booking.vacancyrewards.com/css/clientes/vacancyrewards/images/favicon.png"
    type="image/x-icon" /> -->
  <!-- <link rel="shortcut icon" href="https://booking.vacancyrewards.com/css/clientes/vacancyrewards/images/favicon.png"
    type="image/x-icon" /> -->
  <!-- <link rel="apple-touch-icon"
    href="https://booking.vacancyrewards.com/css/clientes/vacancyrewards/images/favicon.png" /> -->
  <meta name="robots" content="noindex" />

  <!-- <link rel="canonical" href="https://booking.vacancyrewards.com/login.xhtml" /> -->

  <link rel="stylesheet" type="text/css"
    href="https://booking.vacancyrewards.com/javax.faces.resource/eNorKMrMTU1LTE4ttkrOzy3Iz0vNKynWSy4urgFi_aLU4tQSvdzMPLhIZnJ-HpQEiQEAJZYY6Q.css?ln=omnifaces.combined&amp;v=1709301134000"
    crossorigin="" integrity="" />
  <!-- href="./css/1.css"  -->

  <!-- <link href="./css/client-style.css"  -->
  <link href="https://booking.vacancyrewards.com/client-styles/vacancyrewards/vacancyrewards.css?version=1710522111752"
    rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" type="text/css"
    href="https://booking.vacancyrewards.com/javax.faces.resource/inputnumber/inputnumber.css?ln=primefaces&amp;v=13.0.7" />
  <link rel="stylesheet" type="text/css"
    href="https://booking.vacancyrewards.com/javax.faces.resource/eNpdjsEOAjEIRL_I9u7fVJxdibQQ6MaLH2_d6Np4gDyGYYI5VyyFEGfSatrQeiSKeI7KjkBPlduhMGn79F2z-V7UjekOzxPvNn0IFdctIHlw-g5H9r-h31CRriN6k98HtZjwxXFaJU_83r0AlvVPZA.css?ln=omnifaces.combined&amp;v=1709535741523"
    crossorigin="" integrity="" /> -->
  <script src="https://js.stripe.com/v3/"></script>

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>

  <!-- built files will be auto injected -->
</body>

</html>