<template>
  <div>
    <div
      id="mainForm:datascrollHorizontal:0:hotelextended:otherOption"
      class="c-extended u-border--none minisheetMASTER-30800 c-extended--accommodation c-extended--accommodation--hotel bg-clr--white u-box-shadow--soft u-border-radius--big pb-0 u-display--none u-display--block@md"
      data-bathroom-count=""
      data-availposition="1"
      :data-hotelname="resort.ResortName"
      :data-hotel-totalprice="`US$${resort.priceReal}`"
      data-hotel-showdifferenceinprices="false"
      data-destinationname="Florida Keys FL"
      data-latitude="24.710007"
      data-view-type="horizontal"
      data-longitude="-81.1034"
      data-user-currency="US$"
      data-hotel-popularity="8.971202635914334"
      data-hotel-category="3"
      data-is-apartment="false"
      data-bedroom-count=""
      data-needs-update="false"
      data-sizem2=""
      data-selected="no"
      data-code="MASTER-30800"
    >
      <div
        class="c-hover-effect__extended o-layout o-layout--stretch o-layout--gutter-default u-flex-wrap--nowrap clr--darkest-gray"
      >
        <div
          class="c-extended__img-wrapper o-layout__item u-1/2 u-cursor--pointer"
        >
          <div class="c-extended__bg-loading u-border-radius--left--big"></div>
          <a
            href="/accommodation/master-30800/waiting/1?tripId=2&amp;previousPage=%2Faccommodation%2FonlyAccommodationAvail.xhtml&amp;previousViewState=NDNhYjQ4MzMzNTIzOTQ3MjAwMDAwMDAy"
            id="mainForm:datascrollHorizontal:0:hotelextended:openHotel1"
            name="mainForm:datascrollHorizontal:0:hotelextended:openHotel1"
            target="_blank"
            class="dev-replace-target"
          >
            <div
              v-for="(img, i) in resort.imgs"
              :key="i"
              class="c-fit-carousel c-fit-carousel--accommodation c-fit-carousel--first-position owl-carousel u-border-radius--left--big c-extended__carousel hotel-fit-carousel-mainForm:datascrollHorizontal:0:hotelextended:j_id_4py_c2 owl-carousel--no-transition owl-loaded"
            >
              <div class="owl-stage-outer">
                <div
                  class="owl-stage"
                  style="
                    transform: translate3d(0px, 0px, 0px);
                    transition: all 0s ease 0s;
                    width: 3300px;
                  "
                >
                  <div class="owl-item active" style="width: 330px">
                    <div class="c-fit-carousel__item item u-1/1">
                      <div
                        class="c-hover-effect c-fit-carousel__hover-effect u-border-radius--left--big u-overflow--hidden c-hover-effect--accommodation c-hover-effect--change-color"
                      >
                        <div class="c-hover-effect__body tc-upc">
                          <div
                            class="c-hover-effect__message c-hover-effect__message--view o-group"
                          >
                            <i class="fa-regular fa-eye"></i
                            ><b> View accommodation </b>
                          </div>
                          <div
                            class="c-hover-effect__message c-hover-effect__message--select o-group"
                          >
                            <i class="fa-regular fa-check"></i><b> Select </b>
                          </div>
                        </div>
                        <div
                          class="c-hover-effect__overlaying bg-clr--overlaying"
                        ></div>
                      </div>
                      <span
                        id="mainForm:datascrollHorizontal:0:hotelextended:j_id_4py_c2:j_id_4py_c8:0:dev-classification-group-"
                        class="dev-classification-tag"
                      ></span>
                      <img
                        data-src="https://cdn5.travelconline.com/unsafe/fit-in/500x0/filters:quality(75):format(webp)/https%3A%2F%2Fi.travelapi.com%2Flodging%2F11000000%2F10560000%2F10554600%2F10554536%2F5f4107d5_z.jpg"
                        :src="img"
                        data-index="0"
                        data-error-src="https://booking.vacancyrewards.com/javax.faces.resource/images/no-photo-XS.jpg"
                        onerror="this.setAttribute('data-original-url', this.src); var errorUrl = this.getAttribute('data-error-src'); if(this.src !== errorUrl) {this.src = errorUrl};"
                        loading="lazy"
                        :alt="`${resort.ResortName}, Primary image`"
                        width=""
                        height=""
                        onclick=""
                        style=""
                        class="lazy-img c-fit-carousel__img c-extended__img c-extended__img--carousel u-border-radius--left--big u-overflow--hidden img-fit-cover loaded"
                        data-ll-status="loaded"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="c-fit-carousel__nav o-flexbox o-flexbox--generic-row u-align-items--stretch"
              >
                <button
                  type="button"
                  role="presentation"
                  class="c-fit-carousel__button c-fit-carousel__button--prev fas fa-angle-left disabled"
                ></button
                ><button
                  type="button"
                  role="presentation"
                  class="c-fit-carousel__button c-fit-carousel__button--next fas fa-angle-right"
                ></button>
              </div>
              <div class="owl-dots disabled"></div>
            </div> </a
          ><a
            id="mainForm:datascrollHorizontal:0:hotelextended:j_id_4py_cv"
            href="#"
            class="ui-commandlink ui-widget c-extended__heart-checkbox c-heart-checkbox o-flexbox o-flexbox--generic-center"
            aria-label=""
          >
            <input
              type="checkbox"
              class="c-heart-checkbox__input pp-target-unchecked" />
            <span class="c-heart-checkbox__main"
              ><i
                class="fa-regular fa-heart c-heart-checkbox__heart c-heart-checkbox__heart--off"
              ></i
              ><i
                class="fa-solid fa-heart c-heart-checkbox__heart c-heart-checkbox__heart--on"
              ></i></span></a
          ><a
            id="mainForm:datascrollHorizontal:0:hotelextended:toggleHolidayPackagePreferredAccommodation"
            href="#"
            class="ui-commandlink ui-widget c-extended__heart-checkbox c-heart-checkbox o-flexbox o-flexbox--generic-center c-heart-checkbox--package dev-holiday-package-preferred-accommodation-select-ico"
            aria-label=""
          >
            <input
              type="checkbox"
              class="c-heart-checkbox__input pp-target-unchecked" />
            <span
              class="c-heart-checkbox__main tc-tooltip"
              title="The selected acomodations will be the only ones available for your holiday package"
              ><i class="fa-lg fa-solid fa-circle-plus clr--white"></i> </span
          ></a>
        </div>
        <div
          class="c-extended__main o-box o-layout__item o-flexbox--generic-column u-flex--11 u-cursor--pointer"
        >
          <div
            class="u-display--flex u-flex-direction--column u-flex-direction--row@lg u-justify-content--between@lg u-height--100 u-gap--tiny u-gap--default@lg"
          >
            <div
              class="o-flexbox o-flexbox--generic-column u-justify-content--start u-gap--tiny u-min-width--auto"
            >
              <div class="c-extended__heading">
                <a
                  href="/accommodation/master-30800/waiting/1?tripId=2&amp;previousPage=%2Faccommodation%2FonlyAccommodationAvail.xhtml&amp;previousViewState=NDNhYjQ4MzMzNTIzOTQ3MjAwMDAwMDAy"
                  id="mainForm:datascrollHorizontal:0:hotelextended:openHotel2"
                  name="mainForm:datascrollHorizontal:0:hotelextended:openHotel2"
                  target="_blank"
                  class="o-block o-block--tiny dev-replace-target"
                >
                  <b
                    class="c-extended__title o-block__item u-display--block u-font-size--middle dev-hotel-title"
                  >
                    {{ resort.ResortName }}

                    <span
                      class="c-hotel-status__category u-vertical-align--middle u-white-space--nowrap null"
                      ><i class="fa-solid fa-star c-hotel-status__star"></i
                      ><i class="fa-solid fa-star c-hotel-status__star"></i
                      ><i class="fa-solid fa-star c-hotel-status__star"></i
                      ><i
                        class="fa-solid fa-star c-hotel-status__star hidden"
                      ></i
                      ><i
                        class="fa-solid fa-star c-hotel-status__star hidden"
                      ></i
                      ><i
                        class="fa-solid fa-star c-hotel-status__star hidden"
                      ></i
                    ></span>
                  </b>
                  <div class="u-display--none@lg">
                    <span
                      class="c-rating c-rating-- u-font-weight--700 c-rating--reverse@lg"
                    >
                      <span
                        class="c-rating__score u-border-radius u-line-height--1 bg-clr--rating100"
                      >
                        9 </span
                      ><span
                        class="o-flexbox o-flexbox--generic-column u-min-width--auto"
                        ><span
                          class="c-rating__grade u-line-height--1 u-white-space--nowrap clr--rating100"
                        >
                          Very good </span
                        ><span
                          class="u-font-size--small u-text-decoration--underline u-font-weight--400 clr--middle-gray u-hide-empty"
                        ></span></span
                    ></span>
                  </div>
                </a>
              </div>
              <b
                id="c-extended__distance--MASTER-30800"
                class="c-extended__distance o-block__item u-font-size--small clr--darkest-gray interest-name u-white-space--initial"
                ><a
                  href="/accommodation/onlyAccommodationAvail.xhtml?tripId=2&amp;availPosition=1"
                  id="mainForm:datascrollHorizontal:0:hotelextended:hotelMap"
                  name="mainForm:datascrollHorizontal:0:hotelextended:hotelMap"
                  onclick="travelc.openHotelMap('MASTER-30800'); return false;"
                  class="c-inline-link"
                >
                  {{ resort.ResortCity }} &gt; {{ resort.ResortAddress2 }}
                </a></b
              ><a
                href="/accommodation/master-30800/waiting/1?tripId=2&amp;previousPage=%2Faccommodation%2FonlyAccommodationAvail.xhtml&amp;previousViewState=NDNhYjQ4MzMzNTIzOTQ3MjAwMDAwMDAy"
                id="mainForm:datascrollHorizontal:0:hotelextended:openHotel4"
                name="mainForm:datascrollHorizontal:0:hotelextended:openHotel4"
                target="_blank"
                class="o-block__item o-block o-block--tiny dev-replace-target"
              >
                <div
                  class="c-extended__selected-combination o-block__item u-font-size--small"
                >
                  <div
                    class="u-display--flex u-gap--tiny u-flex-wrap--wrap o-group o-group--small"
                  >
                    <span
                      ><i class="fa-regular fa-utensils fa-fw"></i>
                      {{resort.InvTypeInDetail}}
                    </span>
                    <span
                      ><i class="fa-regular fa-bed fa-fw"></i>
                      {{resort.UnitType}}
                    </span>
                  </div>
                </div>
                <div
                  class="c-extended__description u-font-size--small@lg u-font-size--default@xl o-block__item clr--dark-gray"
                >
                  {{description}}
                </div>
              </a>
            </div>
            <div class="o-group--reverse-margin u-text-align--right">
              <div
                class="o-flexbox o-flexbox--generic-column u-justify-content--between u-height--100"
              >
                <div class="u-display--none u-display--block@lg">
                  <span
                    class="c-rating c-rating-- u-font-weight--700 c-rating--reverse"
                  >
                    <span
                      class="c-rating__score u-border-radius u-line-height--1 bg-clr--rating100"
                    >
                      9 </span
                    ><span
                      class="o-flexbox o-flexbox--generic-column u-min-width--auto"
                      ><span
                        class="c-rating__grade u-line-height--1 u-white-space--nowrap clr--rating100"
                      >
                        Very good </span
                      ><span
                        class="u-font-size--small u-text-decoration--underline u-font-weight--400 clr--middle-gray u-hide-empty"
                      ></span></span
                  ></span>
                </div>
                <div>
                  <a
                    href="/accommodation/master-30800/waiting/1?tripId=2&amp;previousPage=%2Faccommodation%2FonlyAccommodationAvail.xhtml&amp;previousViewState=NDNhYjQ4MzMzNTIzOTQ3MjAwMDAwMDAy"
                    id="mainForm:datascrollHorizontal:0:hotelextended:openHotel3"
                    name="mainForm:datascrollHorizontal:0:hotelextended:openHotel3"
                    target="_blank"
                    class="u-display--block dev-replace-target"
                  >
                    <div
                      class="c-extended__price c-price u-text-align--right u-white-space--nowrap"
                    >
                      <div
                        class="c-price__bottom u-font-size--small u-line-height--175"
                      >
                        
                      {{ $t('labels.totalPrice') }}
                      </div>
                      <div
                        class="c-price__primary u-font-size--huge u-line-height--1 clr--price-difference clr--price-difference--neutral"
                      >
                        US${{ resort.priceReal }}
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="c-extended__action u-display--flex u-justify-content--end u-gap--small"
          >
            <a
              href="/accommodation/master-30800/waiting/1?tripId=2&amp;previousPage=%2Faccommodation%2FonlyAccommodationAvail.xhtml&amp;previousViewState=NDNhYjQ4MzMzNTIzOTQ3MjAwMDAwMDAy"
              id="mainForm:datascrollHorizontal:0:hotelextended:openHotel5"
              name="mainForm:datascrollHorizontal:0:hotelextended:openHotel5"
              target="_blank"
              class="c-extended__button c-extended__button--details c-button bg-clr--brand u-font-size--small u-line-height--1 mt-5 ml-5 ml-0@lg view-hotel dev-open-hotel dev-replace-target"
            >
              {{ $t('buttons.seeOption') }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      id="mainForm:datascrollHorizontal:0:hotelcard:hotelCard"
      class="c-card u-box-shadow--soft u-border-radius--big bg-clr--white u-border--none c-card--accommodation c-card--accommodation--hotel pp-target-hotel minisheetMASTER-30800 pi-col-link pi-right pp-bar c-card--vertical-flex o-layout--stretch mb-20 u-display--none@md c-hover-effect__wrapper"
      data-user-currency="US$"
      data-availposition="1"
      :data-hotelname="resort.ResortName"
      :data-hotel-totalprice="`US$${resort.priceReal}`"
      data-hotel-showdifferenceinprices="false"
      data-hotel-popularity="8.971202635914334"
      data-hotel-category="3"
      data-destinationname="Florida Keys FL"
      data-latitude="24.710007"
      data-view-type="miniFicha"
      data-longitude="-81.1034"
      data-code="MASTER-30800"
    >
      <div class="c-card__main clr--darkest-gray">
        <div
          class="c-card__hero u-border-radius--none u-border-radius--top--big u-cursor--pointer"
        >
          <div class="c-card__top">
            <div class="c-card__price c-price">
              <b
                class="c-price__primary u-white-space--nowrap u-font-size--big price-tooltip clr--price-difference clr--price-difference--neutral"
                data-toggle="tooltip"
                data-placement="right"
                title=""
              >
                {{resort.priceReal}}
              </b>
              <div class="c-price__bottom u-font-size--small">
                {{}}
              </div>
            </div>
          </div>
          <a
            id="mainForm:datascrollHorizontal:0:hotelcard:toggleFavourite"
            href="#"
            class="ui-commandlink ui-widget c-card__heart-checkbox c-heart-checkbox o-flexbox o-flexbox--generic-center"
            aria-label=""
          >
            <input
              type="checkbox"
              class="c-heart-checkbox__input pp-target-unchecked" />
            <span class="c-heart-checkbox__main"
              ><i
                class="fa-regular fa-heart c-heart-checkbox__heart c-heart-checkbox__heart--off u-text-shadow"
              ></i
              ><i
                class="fa-solid fa-heart c-heart-checkbox__heart c-heart-checkbox__heart--on"
              ></i></span></a
          ><a
            id="mainForm:datascrollHorizontal:0:hotelcard:toggleHolidayPackagePreferredAccommodation"
            href="#"
            class="ui-commandlink ui-widget c-extended__heart-checkbox c-heart-checkbox o-flexbox o-flexbox--generic-center c-heart-checkbox--package"
            aria-label=""
          >
            <input
              type="checkbox"
              class="c-heart-checkbox__input pp-target-unchecked" />
            <span
              class="c-heart-checkbox__main tc-tooltip"
              title="The selected acomodations will be the only ones available for your holiday package"
              ><i
                class="fa-lg fa-solid fa-circle-plus clr--white"
              ></i> </span></a
          ><a
            href="/accommodation/master-30800/waiting/1?tripId=2&amp;previousPage=%2Faccommodation%2FonlyAccommodationAvail.xhtml&amp;previousViewState=NDNhYjQ4MzMzNTIzOTQ3MjAwMDAwMDAy"
            id="mainForm:datascrollHorizontal:0:hotelcard:openHotelCard1"
            name="mainForm:datascrollHorizontal:0:hotelcard:openHotelCard1"
            target="_blank"
            class="dev-replace-target"
          >
            <div
              v-for="(img, i) in resort.imgs"
              :key="i"
              class="c-fit-carousel c-fit-carousel--accommodation c-fit-carousel--first-position owl-carousel u-border-radius--left--big c-card__carousel u-border-radius--top--big hotel-fit-carousel-mainForm:datascrollHorizontal:0:hotelcard:j_id_4py_ij owl-carousel--no-transition owl-loaded"
            >
              <div class="owl-stage-outer">
                <div
                  class="owl-stage"
                  style="
                    transform: translate3d(0px, 0px, 0px);
                    transition: all 0s ease 0s;
                  "
                >
                  <div class="owl-item">
                    <div class="c-fit-carousel__item item u-1/1">
                      <div
                        class="c-hover-effect c-fit-carousel__hover-effect u-border-radius--left--big u-overflow--hidden c-hover-effect--accommodation c-hover-effect--change-color"
                      >
                        <div class="c-hover-effect__body tc-upc">
                          <div
                            class="c-hover-effect__message c-hover-effect__message--view o-group"
                          >
                            <i class="fa-regular fa-eye"></i
                            ><b> View accommodation </b>
                          </div>
                          <div
                            class="c-hover-effect__message c-hover-effect__message--select o-group"
                          >
                            <i class="fa-regular fa-check"></i><b> Select </b>
                          </div>
                        </div>
                        <div
                          class="c-hover-effect__overlaying bg-clr--overlaying"
                        ></div>
                      </div>
                      <span
                        id="mainForm:datascrollHorizontal:0:hotelcard:j_id_4py_ij:j_id_4py_ip:0:dev-classification-group-"
                        class="dev-classification-tag"
                      ></span>
                      <img
                        data-src="https://cdn5.travelconline.com/unsafe/fit-in/500x0/filters:quality(75):format(webp)/https%3A%2F%2Fi.travelapi.com%2Flodging%2F11000000%2F10560000%2F10554600%2F10554536%2F5f4107d5_z.jpg"
                        :src="img"
                        data-index="0"
                        data-error-src="https://booking.vacancyrewards.com/javax.faces.resource/images/no-photo-XS.jpg"
                        onerror="this.setAttribute('data-original-url', this.src); var errorUrl = this.getAttribute('data-error-src'); if(this.src !== errorUrl) {this.src = errorUrl};"
                        loading="lazy"
                        :alt="`${resort.ResortName}, Primary image`"
                        width=""
                        height=""
                        onclick=""
                        style=""
                        class="lazy-img c-fit-carousel__img img-fit-cover loaded"
                        data-ll-status="loaded"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="c-fit-carousel__nav o-flexbox o-flexbox--generic-row u-align-items--stretch"
              >
                <button
                  type="button"
                  role="presentation"
                  class="c-fit-carousel__button c-fit-carousel__button--prev fas fa-angle-left disabled"
                ></button
                ><button
                  type="button"
                  role="presentation"
                  class="c-fit-carousel__button c-fit-carousel__button--next fas fa-angle-right disabled"
                ></button>
              </div>
              <div class="owl-dots disabled"></div>
            </div>
          </a>
        </div>
        <div class="o-box--small pb-5 o-block o-block--tiny">
          <a
            href="/accommodation/master-30800/waiting/1?tripId=2&amp;previousPage=%2Faccommodation%2FonlyAccommodationAvail.xhtml&amp;previousViewState=NDNhYjQ4MzMzNTIzOTQ3MjAwMDAwMDAy"
            id="mainForm:datascrollHorizontal:0:hotelcard:openHotelCard2"
            name="mainForm:datascrollHorizontal:0:hotelcard:openHotelCard2"
            target="_blank"
            class="c-card__body selected-combination u-cursor--pointer dev-replace-target"
          >
            <div
              class="o-flexbox o-flexbox--generic-row u-align-items--start u-gap--small"
            >
              <div class="c-card__wrapper-title o-block__item">
                <b
                  class="c-card__title hotel-name dev-hotel-title u-ellipsis-block u-ellipsis-block--two-lines u-line-height--125"
                >
                  {{ resort.ResortName }}
                </b>
                <span
                  class="c-hotel-status__category u-vertical-align--middle u-white-space--nowrap u-display--block"
                  ><i class="fa-solid fa-star c-hotel-status__star"></i
                  ><i class="fa-solid fa-star c-hotel-status__star"></i
                  ><i class="fa-solid fa-star c-hotel-status__star"></i
                  ><i class="fa-solid fa-star c-hotel-status__star hidden"></i
                  ><i class="fa-solid fa-star c-hotel-status__star hidden"></i
                  ><i class="fa-solid fa-star c-hotel-status__star hidden"></i
                ></span>
              </div>
              <span
                class="c-rating c-rating--sm u-font-weight--700 c-rating--reverse"
              >
                <span
                  class="c-rating__score u-border-radius u-line-height--1 bg-clr--rating100"
                >
                  9 </span
                ><span
                  class="o-flexbox o-flexbox--generic-column u-min-width--auto"
                  ><span
                    class="c-rating__grade u-line-height--1 u-white-space--nowrap clr--rating100"
                  >
                    Very good </span
                  ><span
                    class="u-font-size--small u-text-decoration--underline u-font-weight--400 clr--middle-gray u-hide-empty"
                  ></span></span
              ></span>
            </div>
            <b
              id="c-extended__distance--MASTER-30800"
              class="c-extended__distance o-block__item u-font-size--small clr--darkest-gray interest-name u-white-space--initial mt-5"
            ></b> </a
          ><b
            id="c-extended__distance--MASTER-30800"
            class="c-extended__distance o-block__item u-font-size--small clr--darkest-gray interest-name u-white-space--initial mt-5"
            ><a
              href="/accommodation/onlyAccommodationAvail.xhtml?tripId=2&amp;availPosition=1"
              id="mainForm:datascrollHorizontal:0:hotelcard:hotelMap"
              name="mainForm:datascrollHorizontal:0:hotelcard:hotelMap"
              onclick="travelc.openHotelMap('MASTER-30800'); return false;"
              class="c-inline-link dev-hotelMap"
            >
              {{ resort.ResortCity }} &gt; {{ resort.ResortAddress2 }}
            </a></b
          >
          <div class="o-block__item c-card__detail u-font-size--small">
            <i class="fa-regular fa-bed-alt"></i
            ><span> {{resort.UnitType}} </span>
          </div>
          <div class="o-block__item c-card__detail u-font-size--small">
            <i class="fa-regular fa-utensils"></i><span> {{resort.InvTypeInDetail}}</span>
          </div>
        </div>
      </div>
      <div
        class="c-button-group c-button-group--resize c-button-group--free-width c-card__action bg-clr--transparent o-box--small--horizontal u-boder-radius--big clr--darkest-gray pb-10"
      >
        <a
          href="/accommodation/master-30800/waiting/1?tripId=2&amp;previousPage=%2Faccommodation%2FonlyAccommodationAvail.xhtml&amp;previousViewState=NDNhYjQ4MzMzNTIzOTQ3MjAwMDAwMDAy"
          id="mainForm:datascrollHorizontal:0:hotelcard:openHotelCard3"
          name="mainForm:datascrollHorizontal:0:hotelcard:openHotelCard3"
          target="_blank"
          class="c-card__button c-card__button--details c-button bg-clr--brand dev-open-hotel dev-replace-target"
        >
          <span class="u-font-size--small">{{ $t('buttons.seeOption') }}</span></a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    resort: {
      type: Object,
      require: true,
      default: {},
    },
  },
  computed: {
    description() {
        return `${this.resort.ResortHighLights.substr(0, 300)}...`
    }
  },
  created() {
    console.log(this.resort);
  },
};
</script>

<style>
</style>