<template>
  <div>
    <div>
      <nav
        class="navbar c-header navbar--active-submenu u-zindex--256"
        role="navigation"
        id="generic-MS-nav"
        v-if="club.MicrositeTC === VUE_APP_MICROSITE_TC_DEFAULT"
      >
        <div class="container o-container o-container--large">
          <div class="navbar-header">
            <button
              class="navbar-toggle collapsed c-button--userheader"
              data-target="#collapsableHeader"
              data-toggle="collapse"
              type="button"
            >
              <span class="sr-only"></span><span class="icon-bar top-bar"></span
              ><span class="icon-bar middle-bar"></span
              ><span class="icon-bar bottom-bar"></span></button
            ><a class="ms-brand">
              <img
                class="img-brand"
                alt="Vacancy Rewards"
                src="https://booking.vacancyrewards.com/css/clientes/vacancyrewards/images/brand-primary.png"
            /></a>
            <div
              class="c-header-submenu__devices-button o-box--small--horizontal o-box--tiny--vertical u-cursor--pointer mr-auto"
              onclick="openHiddenAside('submenu')"
            >
              <i class="fa-regular fa-bars u-font-size--big"></i>
            </div>
          </div>
          <div id="collapsableHeader" class="navbar-collapse collapse">
            <div class="navbar-display">
              <ul class="nav navbar-nav navbar-right flip userheader">
                <li class="u-display--none">
                  <a
                    href="http://weeks.vacancyrewards.com?token=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ2YWNhbmN5cmV3YXJkcy10ZXN0QHZhY2FuY3lyZXdhcmRzLmNvbSIsImV4cCI6MTcxMTg3ODQ5NCwianRpIjoiMTA2QURFMkEtM0NDQi00RkU1LUIzOUQtODkzMzlDRTJFRDdBIn0.SrtVimZ-4zqSr3t9GeSNzJUuBgcgUvbVkun-cMDC_Joz4KyJdfn-4naP91lk-Xj25rWUVwMJKS7m83MubZ79Xg"
                    target="_blank"
                    >Semanas y más...</a
                  >
                </li>
                <li class="btn-menu-help" style="visibility: hidden">
                  <a href="#" class="tc-bt-showhelp fakeLink"> Ayúdame </a>
                </li>
                <li
                  id="dropdown_languages"
                  class="dropdown dropdown-languages"
                  data-selected-language="es"
                >
                  <a
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    @click="changeIso"
                    style="cursor: pointer"
                    ><span
                      ><span
                        :class="`flag-icon flag-icon--language ${
                          iso === 'en' ? 'flag-icon-gb' : 'flag-icon-es fa'
                        }`"
                      ></span>
                      {{
                        iso === "es"
                          ? $func.parseIso("spanish")
                          : $func.parseIso("english")
                      }}</span
                    >
                    <i class="fa-regular fa-angle-down"></i>
                  </a>
                </li>
                <li class="dropdown login header__login">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                    ><span
                      ><i class="fa-regular fa-user-check user-icon"></i>
                      {{ member.Nombre || "n/a" }} </span
                    ><i class="fa-regular fa-angle-down"></i
                  ></a>
                  <ul
                    role="menu"
                    class="dropdown-menu attach-body dropdown-nav-menu dropdown-nav-user"
                  >
                    <li>
                      <a
                        href="https://booking.vacancyrewards.com/profile/dashboard.xhtml"
                        class="dashboard-link"
                        ><i class="fa-regular fa-user user-icon"></i> Mi
                        perfil</a
                      >
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-regular fa-bookmark"></i> Reservas
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-regular fa-money-bill-alt"></i> Pagos
                        pendientes
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-regular fa-save"></i> Mis Cotizaciones
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-regular fa-save"></i> Mis intentos de
                        compra
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-regular fa-save"></i> Paquetes Guardados
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-regular fa-info-circle"></i> Mis datos
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-regular fa-trophy"></i> Tienes 0 puntos
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li class="logout">
                      <a href="#" class="u-text-align--right flip logout-button"
                        ><i class="fa-regular fa-sign-in-alt"></i> Cerrar sesión
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="bkgbase-not btn-feedback">
                  <a
                    style="cursor: pointer"
                    id="improvement-modal"
                    class="ui-commandlink ui-widget"
                    aria-label=""
                  >
                    <b
                      ><i class="fa-regular fa-comment"></i>
                      {{ $func.parseIso("commentsSupport") }}
                    </b></a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            id="c-hidden-aside--submenu"
            class="c-hidden-aside c-hidden-aside--submenu modifier"
          >
            <div class="c-header-submenu__devices-close u-text-align--right">
              <i
                class="fa-regular fa-close o-box--middle u-font-size--middle clr--middle-gray u-cursor--pointer"
                role="button"
                tabindex="0"
              ></i>
            </div>
            <div class="c-header-submenu u-zindex--32">
              <ul
                class="c-header-submenu__list o-container o-container--large o-container--fit@max-lg mb-0 p-0"
              >
                <li class="c-header-submenu__element u-border--none">
                  <a
                    style="cursor: pointer"
                    class="c-header-submenu__link u-transition dev-PERSONALIZED"
                    ><i class="fa-regular fa-chalkboard-user mr-5"></i
                    ><span>{{ $func.parseIso("myProfile") }}</span>
                  </a>
                </li>
                <li class="c-header-submenu__element u-border--none">
                  <a
                    @click="goTc"
                    style="cursor: pointer"
                    class="c-header-submenu__link u-transition dev-PERSONALIZED"
                    ><i class="fa-regular fa-umbrella-beach mr-5"></i
                    ><span>{{ $func.parseIso("hotelsFlightsMore") }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            id="c-hidden-aside--submenu__bg"
            class="c-hidden-aside__bg"
            onclick="closeHiddenAside('submenu')"
          ></div>
        </div>
      </nav>
      <div class="c-header-collective" v-else>
        <div
          class="c-header-collective__bar clr--white"
          :style="`background-color: #${club.ColorSecundarioHex}; color: #${club.ColorSecundarioTextoHex}`"
        >
          <div class="o-container o-container--large">
            <div
              class="o-flexbox o-flexbox--generic-row u-align-items--center u-font-size--small u-justify-content--end"
            >
              <div
                class="c-header__agency-data o-group--default u-display--none u-display--flex@md"
              >
                <div>
                  <b>{{ club.Nombre }}</b>
                </div>
                <div class="o-group--tiny" v-if="club.Telefono">
                  <i class="fa-regular fa-phone"></i
                  ><span>{{ club.Telefono }}</span>
                </div>
                <div class="o-group--tiny" v-if="club.TelefonoWs">
                  <i class="fab fa-whatsapp"></i
                  ><span>{{ club.TelefonoWs }}</span>
                </div>
                <div class="o-group--tiny u-text-transform--lowercase">
                  <i class="fa-regular fa-envelope"></i
                  ><a :href="`mailto:${club.Email}`"> {{ club.Email }}</a>
                </div>
                <div class=""></div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="c-header-collective__main bg-clr--white c-header-collective--active-submenu u-position--relative u-zindex--32"
        >
          <div class="o-container o-container--large pr-0 pr-20@md">
            <div
              class="c-header-collective__display o-flexbox o-flexbox--generic-row"
            >
              <div
                class="c-header-submenu__devices-button o-box--small--horizontal o-box--tiny--vertical u-cursor--pointer mr-auto"
              >
                <i class="fa-regular fa-bars u-font-size--big"></i>
              </div>
              <div
                id="j_id_31_6_1n:collective-img__container"
                class="c-collective-brand c-collective-brand--header o-section--small"
              >
                <a class="c-collective-brand__link">
                  <img class="c-collective-brand__img" :src="club.Logo"
                /></a>
              </div>
              <div
                class="c-button c-button--square u-display--none@md u-border--none"
              >
                <i class="fa-regular fa-bars"></i>
              </div>
              <div
                id="c-hidden-aside--header-collective"
                class="c-hidden-aside c-hidden-aside@md modifier"
              >
                <div class="c-hidden-aside__scroller">
                  <div class="u-display--none@md u-text-align--right">
                    <a
                      class="c-button c-button--square u-bdr-clr--transparent"
                      onclick="closeHiddenAside('header-collective')"
                      ><i class="fa-regular fa-times"></i
                    ></a>
                  </div>
                  <div
                    class="c-header__agency-data o-block o-block--small o-box bg-clr--lighter-gray u-display--none@md mt-20"
                  >
                    <div
                      class="o-block__item u-display--flex u-align-items--center c-header-collective__aside-item"
                    >
                      <b>Kovay Vacations</b>
                    </div>
                    <div
                      class="o-group--tiny o-block__item u-display--flex u-align-items--center c-header-collective__aside-item"
                    >
                      <i class="fa-regular fa-phone"></i
                      ><span>+18772123834</span>
                    </div>
                    <div
                      class="o-group--tiny u-text-transform--lowercase o-block__item u-display--flex u-align-items--center c-header-collective__aside-item"
                    >
                      <i class="fa-regular fa-envelope"></i
                      ><a href="mailto:reservations@vacancyrewards.com">
                        reservations@vacancyrewards.com</a
                      >
                    </div>
                    <div
                      class="o-block__item u-display--flex u-align-items--center c-header-collective__aside-item"
                    ></div>
                  </div>
                  <ul
                    class="c-header-collective__user-header u-display--flex@md"
                  >
                    <li class="u-display--none"></li>
                    <li class="btn-menu-help" style="visibility: hidden">
                      <a
                        href="#"
                        class="tc-bt-showhelp fakeLink"
                        onclick="if($('#c-hidden-aside--header-collective')){ closeHiddenAside('header-collective') } $('#collapsableHeader').collapse('hide');"
                      >
                        Ayúdame
                      </a>
                    </li>
                    <li
                      id="dropdown_languages"
                      class="dropdown dropdown-languages"
                      data-selected-language="es"
                    >
                      <a
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        @click="changeIso"
                        style="cursor: pointer"
                        ><span
                          ><span
                            :class="`flag-icon flag-icon--language ${
                              iso === 'en' ? 'flag-icon-gb' : 'flag-icon-es fa'
                            }`"
                          ></span>
                          {{
                            iso === "es"
                              ? $func.parseIso("spanish")
                              : $func.parseIso("english")
                          }}</span
                        >
                        <i class="fa-regular fa-angle-down"></i>
                      </a>
                    </li>
                    <li class="dropdown login header__login">
                      <a class="dropdown-toggle" data-toggle="dropdown"
                        ><span
                          ><i class="fa-regular fa-user-check user-icon"></i>
                          {{ member.Nombre }} </span
                        ><i class="fa-regular fa-angle-down"></i
                      ></a>
                      <ul
                        role="menu"
                        class="dropdown-menu attach-body dropdown-nav-menu dropdown-nav-user"
                      >
                        <li>
                          <a
                            href="/profile/dashboard.xhtml?agency=278548"
                            class="dashboard-link"
                            ><i class="fa-regular fa-user user-icon"></i> Mi
                            perfil</a
                          >
                        </li>
                        <li>
                          <a
                            href="#"
                            onclick="return myfaces.oam.submitForm('headerForm','j_id_31_6_69');"
                          >
                            <i class="fa-regular fa-bookmark"></i> Reservas
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            onclick="return myfaces.oam.submitForm('headerForm','j_id_31_6_6n');"
                          >
                            <i class="fa-regular fa-save"></i> Mis Cotizaciones
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            onclick="return myfaces.oam.submitForm('headerForm','j_id_31_6_6x');"
                          >
                            <i class="fa-regular fa-save"></i> Mis intentos de
                            compra
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            onclick="return myfaces.oam.submitForm('headerForm','j_id_31_6_72');"
                          >
                            <i class="fa-regular fa-save"></i> Paquetes
                            Guardados
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            onclick="return myfaces.oam.submitForm('headerForm','j_id_31_6_77');"
                          >
                            <i class="fa-regular fa-info-circle"></i> Mis datos
                          </a>
                        </li>
                        <li>
                          <a
                            href="#"
                            onclick="return myfaces.oam.submitForm('headerForm','j_id_31_6_7o');"
                          >
                            <i class="fa-regular fa-trophy"></i> Tienes 0 puntos
                          </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="admin">
                          <a href="/admin/index.xhtml?agency=278548">
                            <i class="fa-regular fa-arrows-alt"></i>
                            <span>Admin</span></a
                          >
                        </li>
                        <li role="separator" class="divider"></li>
                        <li class="logout">
                          <a
                            href="#"
                            class="u-text-align--right flip logout-button"
                            onclick="logout()"
                            ><i class="fa-regular fa-sign-in-alt"></i> Cerrar
                            sesión
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="bkgbase-not btn-feedback">
                      <a
                        id="improvement-modal"
                        class="ui-commandlink ui-widget"
                        aria-label=""
                        style="cursor: pointer"
                      >
                        <b
                          ><i class="fa-regular fa-comment"></i>
                          {{ $func.parseIso("commentsSupport") }}
                        </b></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div
              id="c-hidden-aside--submenu"
              class="c-hidden-aside c-hidden-aside--submenu modifier"
            >
              <div class="c-header-submenu__devices-close u-text-align--right">
                <i
                  class="fa-regular fa-close o-box--middle u-font-size--middle clr--middle-gray u-cursor--pointer"
                  onclick="closeHiddenAside('submenu')"
                  role="button"
                  tabindex="0"
                ></i>
              </div>
              <div class="c-header-submenu u-zindex--32">
                <ul
                  class="c-header-submenu__list o-container o-container--large o-container--fit@max-lg mb-0 p-0"
                >
                  <li class="c-header-submenu__element u-border--none">
                    <a
                      style="cursor: pointer"
                      class="c-header-submenu__link u-transition dev-PERSONALIZED"
                      ><i class="fa-regular fa-chalkboard-user mr-5"></i
                      ><span>{{ $func.parseIso("myProfile") }}</span>
                    </a>
                  </li>
                  <li class="c-header-submenu__element u-border--none">
                    <a
                      @click="goTc"
                      style="cursor: pointer"
                      class="c-header-submenu__link u-transition dev-PERSONALIZED"
                      ><i class="fa-regular fa-umbrella-beach mr-5"></i
                      ><span>{{ $func.parseIso("hotelsFlightsMore") }}</span>
                    </a>
                  </li>
                  <!-- <li class="c-header-submenu__element u-border--none">
                    <a
                      href="#"
                      class="c-header-submenu__link u-transition dev-PERSONALIZED"
                      ><i class="fa-regular fa-typewriter mr-5"></i
                      ><span>Blog</span>
                    </a>
                  </li>
                  <li class="c-header-submenu__element u-border--none">
                    <a
                      href="#"
                      class="c-header-submenu__link u-transition dev-PERSONALIZED"
                      ><i class="fa-regular fa-hotel mr-5"></i
                      ><span>Ofertas del mes</span>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
            <!-- <div
              id="c-hidden-aside--submenu__bg"
              class="c-hidden-aside__bg"
              onclick="closeHiddenAside('submenu')"
            ></div>
            <div
              id="c-hidden-aside--header-collective__bg"
              class="c-hidden-aside__bg c-hidden-aside__bg@md"
              onclick="closeHiddenAside('header-collective')"
            ></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const { VUE_APP_MICROSITE_TC_DEFAULT } = process.env;
export default {
  data() {
    return {
      iso: null,
      VUE_APP_MICROSITE_TC_DEFAULT,
      sesion: null,
      club: {
        Nombre: "",
        Telefono: "",
        TelefonoWs: "",
        ColorPrimarioHex: "",
        ColorSecundarioHex: "",
        ColorSecundarioTextoHex: "",
        ColorFooterPredeterminado: "",
        Email: "",
        Direccion: "",
        MicrositeTC: VUE_APP_MICROSITE_TC_DEFAULT,
      },
      member: {
        Nombre: "",
      },
    };
  },
  created() {
    const iso = localStorage.getItem("iso");
    this.iso = iso || "es";

    this.$bus.on("sesion", ({ sesion, data }) => {
      console.log("data sesion", data);
      if (data.club) this.club = data.club;
      this.member = data.member;
      this.sesion = sesion;
    });
  },
  methods: {
    changeIso() {
      if (this.iso === "es") {
        localStorage.setItem("iso", "en");
        this.iso = "en";
      } else {
        localStorage.setItem("iso", "es");
        this.iso = "es";
      }
      this.$bus.emit("change-iso");
    },
    goTc() {
      // console.log(this.sesion);
      if (this.club && this.club.UrlTC) {
        window.location.href = `https://${
          this.club.UrlTC
        }?submit=true&keepurl=true${
          this.sesion.Token ? `&token=${this.sesion.Token}` : ""
        }`;
      } else {
        window.location.href = `https://${
          process.env.VUE_APP_URL_TC_DEFAULT
        }?submit=true&keepurl=true${
          this.sesion.Token ? `&token=${this.sesion.Token}` : ""
        }`;
      }
    },
  },
};
</script>
