<template>
  <div>
    <!-- <link
      rel="icon"
      href="https://tr2storage.blob.core.windows.net/agencylogos/dyLuAnkKh4o7JeXjJF-wgCxSSi2863JnzA.png"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="https://tr2storage.blob.core.windows.net/agencylogos/dyLuAnkKh4o7JeXjJF-wgCxSSi2863JnzA.png"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      href="https://tr2storage.blob.core.windows.net/agencylogos/dyLuAnkKh4o7JeXjJF-wgCxSSi2863JnzA.png"
      type="image/x-icon"
    /> -->
    <router-view />
  </div>
</template>

<script>
let link = null;
link = document.createElement("link");
link.type = "image/x-icon";
link.rel = "shortcut icon";
link.href =
  "https://tr2storage.blob.core.windows.net/agencylogos/dyLuAnkKh4o7JeXjJF-wgCxSSi2863JnzA.png";
document.getElementsByTagName("head")[0].appendChild(link);

let text = document.createTextNode("Kovay Vacations");
let title = document.createElement("title");
title.appendChild(text);
document.getElementsByTagName("head")[0].appendChild(title);
</script>

<style scoped>
.d-box {
  display: -webkit-box !important;
}

.flex-nw {
  flex-wrap: nowrap !important;
}
</style>
